---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';
import ProductCard from '../components/ProductCard.astro';

const products = await getCollection('products');
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>在线服装商城</h1>
      <div class="product-grid">
        {
          products.map((product) => (
            <article>
              <ProductCard
                id={product.data.id}
                title={product.data.title}
                price={product.data.price}
                category={product.data.category}
              />
            </article>
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
</style>
